<div id="wrap">
<div id="content-box">
  <h1 id="tasks">Tasks<span class="small-menu-item"><a href="#" class="clear-checked">Clear checked</a></span><span id="small-menu"><span class="small-menu-item"><a href="/account/">Account</a></span><span class="small-menu-item"><a href="/user/logout/">Logout</a></span></span></h1>
  <%= display_flashes %>
  <form method="post">
    <fieldset>
      <p style="position: relative;"><input class="input" id="create" name="title" size="40"><input style="border: 1px solid black;" class="submit" id="create-button" type="submit" value="Create"></p>
    </fieldset>
  </form>
  <ul id="task-block">
    <% tasks.each do |task|%>
        <li id="<%= task.id %>" class="task <%= if task.done then "checked" end %>"><span class="checkbox <%= if task.done then "checkedbox" end %>"></span><h3><%= task.title %></h3><div class="remover"></div></li>
    <% end %>
  </ul>
  <div id="footer">© 2012 <a href="http://www.boxedfolder.com" title="boxedfolder.com">boxedfolder.com</a> <span><a href="mailto:mail@boxedfolder.com" title="Contact">Contact</a></span></div>
</div>
</div>